* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /* transition: 0.3s cubic-bezier(0.4, 0.4, 0, 1); */
  color: #333;
  word-spacing: 1px;
  /* -webkit-backface-visibility: hidden; */
}
.overflow {
  overflow:hidden;
  background-color: #fff;
}
img {
  box-sizing: border-box;
}
h3 {
  font-size: 16px;
  margin: 15px 0;
}
p {
  font-size: 16px;
  line-height: initial;
  margin: 5px 0;
}
.text {
  font-weight: bold;
}
.small {
  font-size: 13px;
}
.large {
  font-size: 70px;
}
.white {
  color: #fff;
}
.site-color{
  color: #9a6b64;
}
.site-color:hover{
  color: #cbaeaa;
}
.bold{
  font-weight: bold;
}
a:hover {
  color: #cbaeaa;
}

/* スムーズスクロール */
html{
  scroll-behavior: smooth;
}

/* ハンバーガーメニュー */
.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 12px 30px 0 82%;
}
.humberger {
  display: block;
  height: 4px;
  width: 50px;
  margin: 5px 10px;
  border-radius: 2px;
  background-color: black;
}
/* ハンバーガーメニューの中身 */
.nav-wrapper {
  position: fixed;
  top: 78px;
  right: -200px;
  height: 74%;
  width: 180px;
  background-color: #9a6b64;
  transition: 300ms;
  color: #fff;
}
.nav-wrapper.open {
  right: 0;
  height: 100%;
}
.nav-wrapper ul {
  margin: 0;
  padding: 0;
}
.nav-wrapper li {
  list-style: none;
  height: 80px;
  text-align: center;
  line-height: 80px;
  margin: 4%;
  height: 50px;
}
.nav-wrapper a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color: #fff;
}
.nav-wrapper.open a.btnBlack{
  padding: 0;
}
.nav-wrapper.open a:hover {
  background-color: white;
  color: black;
}
.open0.open {
  transform: translateY(10px) rotate(-45deg);
}
.open1.open {
  opacity: 0;
}
.open2.open {
  transform: translateY(-14px) rotate(45deg);
}

/* button */
.btnBlack {
  background-color: #333;
  color: #fff;
  padding: 15px 33px;
  font-weight: bold;
  width: fit-content;
}
.btnBlack:hover {
  background-color: #9a6b64;
  color: #fff;
}

/* globalnav */
.globalnav {
  padding: 10px 50px;
  display: inline-flex;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  width: 100%;
}
.navLogo {
  position: relative;
  z-index: 10;
}
.navLogo a img {
  width: 42px;
}
.navMenus {
  position: absolute;
  right: 40px;
  display: inline-flex;
  padding: 20px;
  margin-bottom: 20px;
  z-index: 20;
  background-color: #fff;
}
.navMenu {
  margin: 0 10px;
}

/* headertop */
.headertop {
  background-image: url(../IMG/restaurant.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 870px;
  box-sizing: border-box;
}
.headertop h1 {
  padding: 300px 0 20px 50px;
  line-height: 70px;
}
.headertop p {
  padding-left: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  height: auto;
  line-height: 1.8;
  margin: 0px 0px 0px 3px;
  text-align: left;
  width: auto;
  max-width: calc(100% - 3px);
  justify-content: flex-start;
}

/* section 共通*/
#seasonal,
#event,
#access{
  display: flex;
  flex-direction: column;
}
.section h2 {
  font-size: 64px;
  margin: 40px 0;
  font-weight: bold;
}
#concept,
#seasonal {
  margin: auto;
  text-align: center;
  width: 500px;
  max-width: 100%;
}

/* youtube */
.toppage__youtube {
  text-align: center;
  margin: 100px 0;
}

/* concept */
#concept {
  width: 100%;
  margin-bottom: 150px;
  padding: 100px 0;
  background-image: url(../IMG/bgi-marble.jpg);
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
}
.concept__wrap{
  width: 50%;
  margin: auto;
}
#concept p {
  text-align: justify;
  line-height: 25px;
  font-size: 20px;
  font-weight: inherit;
}
#concept img {
  position: absolute;
  margin: 30px 0 0 100px;
  z-index: 1;
}

/* menu */
.rayout__left,
.rayout__right{
  width: 45%;
  max-width: 500px;
}
.rayout__left img,
.rayout__right img {
  width: 100%;
  height: auto;
}
#menu {
  margin: 0px 50px 200px 0px;
  text-align: left;
  display: flex;
}
.menu__wrap{
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#menu p {
  margin-bottom: 50px;
}
#menu h2{
  margin-top: 200px;
}
/* seasonal */
#seasonal h2{
  margin-top: 150px;
}
.seasonal__wrap,
.event__wrap {
  display: flex;
  padding: 15px;
  overflow: auto;
}
.inner {
  width: 35%;
  margin: 20px;
  /* border: 1px solid black; */
  padding: 30px 20px;
  cursor: pointer;
  box-shadow: 0px 0px 22px -11px #000;
  /* border-radius: 8px; */
}
.inner:hover {
  opacity: 0.5;
}
.seasonal__wrap .inner img {
  width: 100%;
}
.seasonal__btn {
  text-align: center;
}

/* モーダルウィンドウ */
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: none;
}
.modal.open {
  display: block;
}
.modal-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.modal-window {
  background-color: white;
  width: 1200px;
  height: 80%;
  margin: 135px auto;
}
.modal-article {
  height: 500px;
  width: 1000px;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 150px 0;
}
.modal-title {
  margin: 25px 0;
}
.modal-image {
  width: 100%;
  height: 100%;
}
.modal-img {
  width: 85%;
}
.modal-container {
  width: 100%;
  margin: 10px;
}
.modal-close-btn {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  margin: auto;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
}
.modal-close-btn:hover {
  background-color: black;
  color: white;
}

/* event */
#event h2,
#access h2,
#contact h2 {
  margin-top: 150px;
  text-align: center;
}
.event__wrap .inner{
  width: 23%;
}
.event__wrap .inner img {
  width: 100%;
}

/* party */
/* #party {
  background-image: url(https://storage.googleapis.com/studio-design-assets/projects/moWvEbQga6/s-2400x1401_v-frms_webp_db514ccb-726b-4fc8-a384-67ae8f019a14_regular.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 700px;
  box-sizing: border-box;
  margin: 100px 30px;
}
#party h2,
#party p {
  color: #fff;
  margin-left: 50%;
}
#party {
  padding-top: 110px;
} */

/* access */
.map {
  text-align: center;
}
.access__wrap {
  width: 60%;
  margin: 70px auto;
}
.access__wrap .block {
  display: flex;
  margin: 30px;
}
.access__wrap .block p {
  margin-right: 45px;
  font-size: 14px;
}
.btn {
  margin-top: 40px;
}
.btn .btnBlack {
  padding: 13px;
}
.content {
  width: 70%;
}

/* reservation */
#reservation {
  margin-top: 50px;
  display: flex;
}
.reservation__wrap{
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 10%;
}
#reservation h2{
  margin-top: 150px;
}
.info__wrap {
  margin: 30px 0;
}
.telNumber {
  font-size: 50px;
}
.sns {
  display: flex;
}
.sns a {
  display: flex;
  margin-right: 30px;
}
.size {
  margin-right: 10px;
  font-size: 30px;
}

/* contact */
#contact {
  z-index: 1;
  margin-top: 350px;
  margin: 200px auto 100px auto;
  width: min-content;
}
#contact p {
  margin-bottom: 30px;
}
.question {
  background-color: rgb(203, 174, 170);
  width: 70%;
  margin: auto;
  margin-bottom: 100px;
  padding: 35px 60px;
}
.q__wrap {
  display: flex;
}
.q__wrap .small {
  line-height: 23px;
  margin-bottom: 20px;
}
.q {
  margin-right: 15px;
  font-weight: bold;
}
.horizontalLine {
  background: #eeeeee;
  flex: none;
  height: 1px;
  width: 100%;
  max-width: 100%;
}

/* footer */
footer {
  padding: 150px 0 50px;
  display: flex;
  background-repeat: no-repeat;
  background-color: #333;
  background-blend-mode: overlay;
  background-image: url(../IMG/relax.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: exclusion;
  color: #fff;
}
.footer__left {
  margin-left: 5%;
}
.footer__left h1{
  margin-bottom: 10%;
}
.footer__left .text {
  margin-bottom: 30px;
}
.footer__left .sns {
  margin: 20px 0 45px 0px;
}
.footer__center{
  margin: 0 0 0 20%;
}
.footer__right {
  margin: 0 0 0 10%;
}
.footer__line{
  color: white;
  font-size: 27px;
  margin-bottom: 40px;
}
.footer__line::before{
  content: "";
    display: block;
    width: 13%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    margin-top: -13px;
}
.copy {
  padding-top: 80%;
}

/* ページトップボタン */
 .pagetop{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 40px;
  background: #9a6b64;
  opacity: 0.6;
  border-radius: 50%;
}
.pagetop a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.pagetop a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* 固定ページ共通 */
.pageHeader{
  margin-top: 80px;
  height: 220px;
}
.pageHeader h1{
  text-align: center;
  line-height: 220px;
  color: #fff;
}
.page{
  text-align: center;
  margin: auto;
}
.page h2{
  font-size: 30px;
}
.page__wrap{
  display: inline-flex;
}
.page__block{
  margin: 0 25px 50px;
}
.three-column{
  margin: auto;
}
.page table tr th{
  background: #c4c4c4;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 160px;
  text-align: left;
  padding: 10px 20px;
}
.page table tr td{
  background: #f6f6f6;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 20px;
}
/* 固定ページ｜メニュー */
#page-menu{
  background-image: url(../IMG/glasses.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* 固定ページ｜会社概要 */
#page-company{
  background-image: url(../IMG/cool.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.two-column{
  width: 80%;
  margin: 90px auto 160px;
}

/* パンくずリスト */
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 30px;
  font-size: 13px;
}
.breadcrumb li {
  display: inline;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}
.breadcrumb li:after {
  /* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #555;
}
.breadcrumb li:last-child:after {
  content: '';
}
.breadcrumb li a {
  text-decoration: none;
  color: gray;
}
.breadcrumb li a:hover {
  text-decoration: underline;
}

/* ページ遷移時のアニメーション */
/* #page-animate::before {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 9999;
  pointer-events: none;
  right: 100%;
  -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 #page-animate::after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 9999;
  pointer-events: none;
  left: 100%;
  -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
 }
 #page-animate.is-slide-in::before {
  right: 0;
 }
 #page-animate.is-slide::after {
  left: 0;
 } */

/* 追加アニメーション */
.loader-wrap {
	position: fixed;
	display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 20;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #cbaeaa;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
